@charset "UTF-8";

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {margin: 0; padding: 0; }
#form{width: 1100px; margin: 0 auto;}       
#main_pic {width: 100%; height: 300px; }
#main_pic img {width: 100%; height: 300px; position:relative;}
#main_pic p {position:absolute; top:350px; left:40px; font-size: 25pt; color: white; }

#history {width: 1100px; height: 3000px;  margin: 0 auto;}
#historyline {width: 5%; height: 3000px;   float: left;  margin: 0 0 0 15px; position: relative;}
#line {width: 50%; height: 500px; float: right; border-left: #01b1c8 3px solid; border-top: 2px solid #01b1c8; }
#line:first-child {width: 50%; height: 500px; float: right; }
#line:last-child {width: 50%; height: 1493px; float: right; border-left: #01b1c8 3px solid; border-top: 2px solid #01b1c8; }

.dot {width: 10px; height: 10px; border-radius: 50%; background-color: orange; display: inline-block; margin-left: -6px; position: absolute; top: 20px;}

.dot1 {width: 10px; height: 10px; border-radius: 50%; background-color: orange; display: inline-block; margin-left: -6px; position: absolute; top: 520px;}

.dot2 {width: 10px; height: 10px; border-radius: 50%; background-color: orange; display: inline-block; margin-left: -6px; position: absolute; top: 1022px;}

.dot3 {width: 10px; height: 10px; border-radius: 50%; background-color: orange; display: inline-block; margin-left: -6px; position: absolute; top: 1524px;}

.year {display: inline-block; font-family: 'SBAggroB'; position: absolute; left: 35px;}

#box {width: 89%; height: 2400px; float: right;  }
#historycontent {width: 100%; height: 250px;  }


.content {width: 700px; height: auto; font-size: 10pt; float: left;} 

.fir_info {width: 100%; height: 100%; margin: 0 auto; }
.fir_info img {width: 200px; height: 200px; float: right;}
.fir_info h2 {padding: 10px 10px 0px 30px;}
.fir_info p {padding: 20px 0 0 30px; width: 700px;}

.sec_info {width: 100%; height: 100%; margin: 0 auto;}
.sec_info img {width: 200px; height: 200px; float: left; padding: 10px 40px 10px 10px;}
.sec_info h2 {padding: 20px 20px 10px 10px;}
.sec_info p {padding: 25px; width: 700px;}
